[submodule "modul-belajar-submodul"]
	path = modul-belajar-submodul
	url = git@github.com:RaffaHitipeuw/modul-belajar-submodul.git
[submodule "navbar"]
	path = navbar
	url = git@github.com:RaffaHitipeuw/modul-belajar-submodul.git
[submodule "footer"]
	path = footer
	url = git@github.com:RaffaHitipeuw/modul2-belajar-submodul.git
